<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>lista de usuarios registrados</title>
</head>
<body>
	<h1>Lista de Usuarios</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>firstname</th>
            <th>lastname</th>
			<th>country</th>
            <th>password</th>
            <th>username</th>

        </tr>
        {% for user in data %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
				<td>{{ user.country }}</td>
                <td>{{ user.password_user }}</td>
                <td>{{ user.username }}</td>

            </tr>
        {% endfor %}
    </table></body>
</html>